@media screen and (min-width:360px){
    img{
        max-width: 100%;
    }
    pre{
        font-size: 1.5em;
        text-align: left;
        padding-left: 0px;
    }
} 
img{
    align-items: center;
}