body {
    font-family: Arial, Helvetica, sans-serif;
    ;
}

a {
    color: #DEA800;
    text-align-last:center;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #EEEC00;
    border: 60px solid #EEEC00;

}

p {
    text-align:justify;
}

img {
    border-bottom: 5px solid #EEEC00;
    border-left: 5px solid #EEEC00;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
/* c */